---
import SectionTitle from "../SectionTitle.astro";
import { Image } from "astro:assets";
import dummy from "@/assets/dummy.jpg";
import config from "@/content/config/data.json";
import getImageSrc from "@/utils/getImageSrc";
---

<section class="container mx-auto px-4">
  <SectionTitle title="Áreas de Práctica" />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
    <a
      href="/servicios"
      class="relative h-48 overflow-hidden rounded-sm shadow-sm transition hover:shadow-lg group select-none"
    >
      <Image
        src={dummy}
        alt="Servicios"
        class="absolute inset-0 h-full w-full object-cover brightness-75 group-hover:scale-110 transition duration-300"
      />
      <div
        class="relative text-white bg-gradient-to-t from-golden/50 to-transparent p-6 flex flex-col justify-center items-center h-full"
      >
        <i class="text-2xl mt-14 fas fa-scale-balanced"></i>
        <h3 class="text-3xl mt-2 font-bold">Servicios</h3>
        <p class="text-lg mt-2">Consulta todos nuestros servicios</p>
      </div>
    </a>
    {
      config.services.map((service) => (
          <div class="relative h-48 rounded-sm transition hover:shadow-xl overflow-hidden group select-none">
            <Image
              src={getImageSrc(service.background)}
              alt={service.title}
              class="absolute inset-0 h-full w-full object-cover brightness-75 group-hover:scale-110 transition duration-300"
            />
            <div class="relative text-white  bg-gradient-to-t from-secondary/50 to-transparent hover:backdrop-blur-xs transition duration-300 p-6 flex flex-col justify-center items-center h-full">
              <i class={`text-2xl mt-12 ${service.icon}`}></i>
              <h3 class="mt-2 text-3xl font-bold text-center" set:text={service.title} />
            </div>
          </div>
      ))
    }
  </div>
</section>